<div class="row">
  <div class="text-center col-lg-10 col-md-12 col-sm-12 text-danger">{{errorMessage}}</div>
  <app-spinner *ngIf="(configurator$ | async)?.loading" class="text-center"></app-spinner>
  <div class="pull-right col-lg-2 col-md-12 col-sm-12">
    <button class="btn btn-primary"
            [disabled]="!configuration.unitType ||
                        !configuration.circuitNumber ||
                        !configuration.refrigerant"
            (click)="submitConfiguration()">
      <span class="glyphicon glyphicon-check"></span>
      Submit
    </button>
  </div>
</div>
<hr />
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="form-group">
                <label class="control-label">Unit type:</label>
                <ng-select
                        placeholder="Choose unit type..."
                        [allowClear]="true"
                        [options]="(configurator$ | async)?.unitTypes | beLabelValueDropdown"
                        [(ngModel)]="configuration.unitType"
                        (selected)="onConfigurationChanged()"
                        (deselected)="clearConfiguration()">
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="form-group">
                <label class="control-label">Circuits number:</label>
                <ng-select
                        placeholder="Choose number of circuits..."
                        [allowClear]="true"
                        [options]="(configurator$ | async)?.circuits | beLabelValueDropdown"
                        [(ngModel)]="configuration.circuitNumber"
                        (selected)="onSelectedCircuits($event); onConfigurationChanged()"
                        (deselected)="circuitRange = []; onConfigurationChanged()">
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="form-group">
                <label class="control-label">Refrigerant:</label>
                <ng-select
                        placeholder="Choose refrigerant..."
                        [allowClear]="true"
                        [options]="(configurator$ | async)?.refrigerants | beLabelValueDropdown"
                        [(ngModel)]="configuration.refrigerant"
                        (selected)="onConfigurationChanged()"
                        (deselected)="clearConfiguration()">
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
          <button style="margin-top: 25px" type="button" class="btn btn-primary" (click)="openGeneralDataModal(template)">General Data</button>
          <button style="margin-top: 25px" type="button" class="btn btn-primary" (click)="openSettingsModal(settings)">Settings</button>
        </div>
    </div>
    <div class="row" [ngClass]="(!configuration.unitType ||
                                 !configuration.circuitNumber ||
                                 !configuration.refrigerant) ? 'is-disabled-categories' : ''">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <h4 class="col-lg-12 col-md-12 col-sm-12">Categories:</h4>
        <div>
          <app-panel class="primary"
                     title="Compressors">
            <panel-body>
              <app-category-picker [bag]="'compressor-bag'"
                                   omp                    [disabled]="!configuration.unitType ||
                                               !configuration.circuitNumber ||
                                               !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['compressor'].brands"
                                   [types]="(configurator$ | async)['compressor'].types"
                                   [listItems]="(configurator$ | async)['compressor'].items"
                                   [loading]="(configurator$ | async)['compressor'].loading"
                                   (onListChanged)="onListChanged('compressor', $event)"
                                   (onCategoryChanged)="onCategoryChanged('compressor', $event)"
                                   (onBrandChanged)="onBrandChanged('compressor', $event)">
              </app-category-picker>
            </panel-body>
          </app-panel>
          <app-panel class="primary"
                     title="Evaporator">
            <panel-body>
              <app-category-picker [bag]="'evaporator-bag'"
                                   [disabled]="!configuration.unitType ||
                                             !configuration.circuitNumber ||
                                             !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['evaporator'].brands"
                                   [types]="(configurator$ | async)['evaporator'].types"
                                   [listItems]="(configurator$ | async)['evaporator'].items"
                                   [loading]="(configurator$ | async)['evaporator'].loading"
                                   (onListChanged)="onListChanged('evaporator', $event)"
                                   (onCategoryChanged)="onCategoryChanged('evaporator', $event)"
                                   (onBrandChanged)="onBrandChanged('evaporator', $event)"
              ></app-category-picker>
            </panel-body>
          </app-panel>
          <app-panel class="primary"
                     title="Condenser">
            <panel-body>
              <app-category-picker [bag]="'condenser-bag'"
                                   [disabled]="!configuration.unitType ||
                                             !configuration.circuitNumber ||
                                             !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['condenser'].brands"
                                   [types]="(configurator$ | async)['condenser'].types"
                                   [listItems]="(configurator$ | async)['condenser'].items"
                                   [loading]="(configurator$ | async)['condenser'].loading"
                                   (onListChanged)="onListChanged('condenser', $event)"
                                   (onCategoryChanged)="onCategoryChanged('condenser', $event)"
                                   (onBrandChanged)="onBrandChanged('condenser', $event)">
              </app-category-picker>
            </panel-body>
          </app-panel>
          <app-panel class="default"
                     title="Evaporator and condenser fans">
            <panel-body>
              <app-category-picker [bag]="'fans-bag'"
                                   [disabled]="!configuration.unitType ||
                                         !configuration.circuitNumber ||
                                         !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['fans'].brands"
                                   [types]="(configurator$ | async)['fans'].types"
                                   [listItems]="(configurator$ | async)['fans'].items"
                                   [loading]="(configurator$ | async)['fans'].loading"
                                   (onCategoryChanged)="onFanCategoryChanged($event)"
                                   (onBrandChanged)="onFanBrandChanged($event)">
              </app-category-picker>
            </panel-body>
          </app-panel>
          <app-panel *ngIf="hideCategories.heatRecovery"
                     class="primary"
                     title="Heat recovery">
            <panel-body>
              <app-category-picker [bag]="'heatRecovery-bag'"
                                   [disabled]="!configuration.unitType ||
                                             !configuration.circuitNumber ||
                                             !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['heatRecovery'].brands"
                                   [types]="(configurator$ | async)['heatRecovery'].types"
                                   [listItems]="(configurator$ | async)['heatRecovery'].items"
                                   [loading]="(configurator$ | async)['heatRecovery'].loading"
                                   (onListChanged)="onListChanged('heatRecovery', $event)"
                                   (onCategoryChanged)="onCategoryChanged('heatRecovery', $event)"
                                   (onBrandChanged)="onBrandChanged('heatRecovery', $event)">
              </app-category-picker>
            </panel-body>
          </app-panel>
          <app-panel *ngIf="hideCategories.desuperheater"
                     class="primary"
                     title="Desuperheater">
            <panel-body>
              <app-category-picker [bag]="'desuperheater-bag'"
                                   [disabled]="!configuration.unitType ||
                                             !configuration.circuitNumber ||
                                             !configuration.refrigerant"
                                   [brands]="(configurator$ | async)['desuperheater'].brands"
                                   [types]="(configurator$ | async)['desuperheater'].types"
                                   [listItems]="(configurator$ | async)['desuperheater'].items"
                                   [loading]="(configurator$ | async)['desuperheater'].loading"
                                   (onListChanged)="onListChanged('desuperheater', $event)"
                                   (onCategoryChanged)="onCategoryChanged('desuperheater', $event)"
                                   (onBrandChanged)="onBrandChanged('desuperheater', $event)">
              </app-category-picker>
            </panel-body>
          </app-panel>
        </div>
      </div>
    </div>

    <div class="row" style="margin: 0 15px">
        {{configuration?.unitType}}
        <table class="table table-responsive table-bordered table-striped col-lg-12 col-md-12 col-sm-12">
            <thead class="table-head">
              <tr>
                  <th>Circuits</th>
                  <th colspan="3">Compressors</th>
                  <th colspan="5">Evaporator</th>
                  <th colspan="5">Condenser</th>
                  <th colspan="3">Heat recovery</th>
                  <th colspan="3">Desuperheater</th>
              </tr>
              <tr>
                  <th></th>
                  <th>Model</th>
                  <th>Quantity</th>
                  <th></th>
                  <th>Model</th>
                  <th>Quantity</th>
                  <th>Fans</th>
                  <th>Quantity</th>
                  <th></th>
                  <th>Model</th>
                  <th>Quantity</th>
                  <th>Fans</th>
                  <th>Quantity</th>
                  <th></th>
                  <th>Model</th>
                  <th>Quantity</th>
                  <th></th>
                  <th>Model</th>
                  <th>Quantity</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="circuitRange.length === 0">
                <td rowspan="4" colspan="20" class="text-center">
                  <h2><small>Choose the number of circuits...</small></h2>
                </td>
              </tr>
              <ng-template ngFor let-circuit [ngForOf]="circuitRange" let-i="index">
                <tr>
                  <td *ngIf="circuit.rowIndex % 2" rowspan="2">{{ circuit.rowSpanIndex }} </td>
                  <td #compressorModels
                      [dragula]="'compressor-bag'"
                      [attr.data-categoryName]="'compressor'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex">
                  </td>
                  <td>
                      <ng-select
                        *ngIf="compressorModels.children.length === 1"
                        [(ngModel)]="tempConfiguration['compressor'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].quantity"
                        [options]="['1', '2', '3', '4'] | beLabelValueDropdown"
                        (selected)="updateQuantity('compressor', circuit.rowSpanIndex, circuit._id, $event)">
                      </ng-select>
                  </td>
                  <td class="text-center"><span *ngIf="compressorModels.children.length === 1"
                                                (click)="onDeleteClicked(circuit, 'compressor')"
                                                class="glyphicon glyphicon-remove icon-error"></span></td>
                  <td #evaporatorModels
                      [dragula]="'evaporator-bag'"
                      [attr.data-categoryName]="'evaporator'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex"></td>
                  <td>
                    <ng-select
                      *ngIf="evaporatorModels.children.length === 1"
                      [(ngModel)]="tempConfiguration['evaporator'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].quantity"
                      [options]="['1', '2', '3', '4', '1/1', '1/2', '1/3', '1/4'] | beLabelValueDropdown"
                      (selected)="updateQuantity('evaporator', circuit.rowSpanIndex, circuit._id, $event)">
                    </ng-select>
                  </td>
                  <td #evaporatorFansModels
                      [class.disabled]="configuration?.unitType === 'AW'"
                      [dragula]="'fans-bag'"
                      [attr.data-categoryName]="'evaporatorFans'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex"></td>
                  <td>
                    <input class="form-control" type="number"
                           *ngIf="evaporatorModels.children.length === 1 &&
                                  evaporatorFansModels.children.length === 1 &&
                                  tempConfiguration['evaporator'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].hasOwnProperty('fans')"
                           [(ngModel)]="tempConfiguration['evaporator'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].fans.quantity"
                           (ngModelChange)="updateFans('evaporator', circuit.rowSpanIndex, circuit._id, circuit.rowInRowIndex)"/>
                  </td>
                  <td class="text-center"><span *ngIf="evaporatorModels.children.length === 1"
                                                (click)="onDeleteClicked(circuit, 'evaporator')"
                                                class="glyphicon glyphicon-remove icon-error"></span></td>
                  <td #condenserModels
                      [dragula]="'condenser-bag'"
                      [attr.data-categoryName]="'condenser'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex"></td>
                  <td>
                    <ng-select
                      *ngIf="condenserModels.children.length === 1"
                      [(ngModel)]="tempConfiguration['condenser'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].quantity"
                      [options]="['1', '2', '3', '4', '1/1', '1/2', '1/3', '1/4'] | beLabelValueDropdown"
                      (selected)="updateQuantity('condenser', circuit.rowSpanIndex, circuit._id, $event)">
                    </ng-select>
                  </td>
                  <td #condenserFansModels
                      [dragula]="'fans-bag'"
                      [class.disabled]="configuration?.unitType === 'WA'"
                      [attr.data-categoryName]="'condenserFans'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex">
                  </td>
                  <td>
                    <input class="form-control"
                           type="number"
                           *ngIf="condenserModels.children.length === 1 &&
                                  condenserFansModels.children.length === 1 &&
                                  tempConfiguration['condenser'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].hasOwnProperty('fans')"
                           [(ngModel)]="tempConfiguration['condenser'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].fans.quantity"/>
                  </td>
                  <td class="text-center"><span *ngIf="condenserModels.children.length === 1"
                                                (click)="onDeleteClicked(circuit, 'condenser')"
                                                class="glyphicon glyphicon-remove icon-error"></span></td>
                  <td #heatRecoveryModels
                      [dragula]="'heatRecovery-bag'"
                      [attr.data-categoryName]="'heatRecovery'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex"></td>
                  <td>
                    <ng-select
                      *ngIf="heatRecoveryModels.children.length === 1"
                      [(ngModel)]="tempConfiguration['heatRecovery'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].quantity"
                      [options]="['1', '2', '3', '4'] | beLabelValueDropdown"
                      (selected)="updateQuantity('heatRecovery', circuit.rowSpanIndex, circuit._id, $event)">
                    </ng-select>
                  </td>
                  <td class="text-center"><span *ngIf="heatRecoveryModels.children.length === 1"
                                                (click)="onDeleteClicked(circuit, 'heatRecovery')"
                                                class="glyphicon glyphicon-remove icon-error"></span></td>
                  <td #desuperheaterModels
                      [dragula]="'desuperheater-bag'"
                      [attr.data-categoryName]="'desuperheater'"
                      [attr.data-circuitId]="circuit._id"
                      [attr.data-indexInCircuit]="circuit.rowInRowIndex"
                      [attr.data-circuitnumber]="circuit.rowSpanIndex"></td>
                  <td>
                    <ng-select
                      *ngIf="desuperheaterModels.children.length === 1"
                      [(ngModel)]="tempConfiguration['desuperheater'][circuit.rowSpanIndex - 1][circuit.rowInRowIndex].quantity"
                      [options]="['1', '2', '3', '4'] | beLabelValueDropdown"
                      (selected)="updateQuantity('desuperheater', circuit.rowSpanIndex, circuit._id, $event)">
                    </ng-select>
                  </td>
                  <td class="text-center"><span *ngIf="desuperheaterModels.children.length === 1"
                                                (click)="onDeleteClicked(circuit, 'desuperheater')"
                                                class="glyphicon glyphicon-remove icon-error"></span></td>
                </tr>
              </ng-template>
            </tbody>
        </table>
    </div>
</div>

<template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">General Data</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>Te</label>
        <input class="form-control" [(ngModel)]="configuration.generalData.te">
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>DTSurr</label>
        <input class="form-control" [(ngModel)]="configuration.generalData.dtSurr">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>Tc</label>
        <input class="form-control" [(ngModel)]="configuration.generalData.tc">
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>DTSub</label>
        <input class="form-control" [(ngModel)]="configuration.generalData.dtSub">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>Capacity</label>
        <input class="form-control" [(ngModel)]="configuration.generalData.capacity">
      </div>
    </div>
    <a class="btn btn-default btn-sm top5" (click)="clearGeneralData()">
      <span class="glyphicon glyphicon-trash"></span>
      Clear
    </a>
  </div>
</template>

<template #settings>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Settings</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>
          <input type="checkbox" name="isActive" [(ngModel)]="hideCategories.heatRecovery">
          Heat Recovery
        </label>
      </div>
      <div class="form-group col-lg-4 col-md-4 col-sm-12">
        <label>
          <input type="checkbox" name="isActive" [(ngModel)]="hideCategories.desuperheater">
          Desuperheater
        </label>
      </div>
    </div>
  </div>
</template>
