<!-- Header -->
<nav class="navbar navbar-default navbar-static-top" *ngIf="visible">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-toggle"></span>
            </button>
            <a class="" href="#"><img class="logo" src="../../../assets/images/logo.png" alt="logo"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div><!-- /container -->
</nav>
<!-- /Header -->
