<table class="table table-responsive table-bordered table-striped col-lg-12 col-md-12 col-sm-12">
    <thead>
    <tr>
        <th>Circuits</th>
        <th colspan="2">Compressors</th>
        <th colspan="3">Evaporator</th>
        <th colspan="3">Condenser</th>
        <th colspan="2">Heat recovery</th>
        <th colspan="2">Desuperheater</th>
    </tr>
    <tr>
        <th></th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Fans</th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Fans</th>
        <th>Model</th>
        <th>Quantity</th>
        <th>Model</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
        <tr app-table-body-configurator></tr>
    </tbody>
</table>