/* You can add global styles to this file, and also import other style files */
body {
  overflow-x: hidden;
}

.app-row-spacing {
  margin-top: 5px;
  margin-bottom: 5px;
}

.left5 {
  margin-left: 5px;
}

.left10 {
  margin-left: 10px;
}

.top5 {
  margin-top: 5px;
}

.top10 {
  margin-top: 10px;
}

.icon-error {
  color: #FF0000;
  cursor: pointer;
}

.icon-error:hover {
  color: #ffcccc;
  cursor: pointer;
}

/* bootstrap button colors fix */
.btn-primary {
  background-color: #03A9F4;
  transition: ease .3s;
}
.btn-primary:hover {
  background-color: #0086d4;
}
